body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hangman-img {
    width: 40%;
    height: 80%;
}

.gallow {
    height: 100%;
    width: 350px;
    background-image: url(img/gallows.png);
    background-size: cover;
}

.man-container {
    width: 101px;
}

.text-part {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-part {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
}

.answer-container {
    width: 100%;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.letter-container {
    border: 1px solid black;
}

.hidden-letter {
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: 0;
}

.question-container {
    text-align: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
}

.keyboard-row:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c673ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #e3b9ff;
}

.button-pressed {
    cursor: auto;
    background-color: #e3b9ff;
}

.letter-open {
    opacity: 1;
}

.correct-button {
    color: green;
}

.incorrect-button {
    color: red;
}